html, body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}



input {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type="text"], input[type="email"] {
    cursor: auto;
    background: #fcfbf9;
    font-weight: normal;
    color: #776e65;
    padding: 0 15px; }
    input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
      color: #9d948c; }
    input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
      color: #9d948c; }
    input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
      color: #9d948c; }
}

.tHeader {
  font-size: 100px;
  font-weight: bold;
  padding-left: 250px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.left, .right{
	width:75px;
	height:460px;
	position:relative;
	margin-right: 25px;
}
.timer{
	height: 620px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom:20;
    margin: 0 auto;
    width:20%;
}

.left{
  width:15%;
}
.middle{
  /* removed width: 80% */
  margin-left:auto;
  margin-right:auto;
  position:absolute;
}
.right{
  width:10%;
}

.gameTitle {
	font-weight: bold;
	font-size: 30px;
  display:inline;
}

.main_game{
  display: table;
	width:800px;
	height:640px;
}

.score{
	font-family:Calibri (Body);
	font-weight: bold;
	font-size: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom:-30;
}

.left, .middle, .right{
  display: table-cell;
}

.answer_container{
  margin-left: 0px;
}

.answer_row{
  display: table;
  width:100%;
  padding-bottom: 10px;
}

#ansA {
	float:left;
}

#ansB {
	float: right;
}

#ansC {
	float: left;
}

#ansD {
	float: right;
}

.question, #question{
  width:500px;
  height:500px;
  /*margin-left: 20px;*/
  margin-top: 5px;
}

  
.btn-xl {
	/*padding: 18px 95px;*/
    font-size: 22px;
    border-radius: 8px;
	text-align: center;
}

.custom {
	min-width: 245px;
	max-width: 245px;
	min-height: 55px;
	max-height: 55px;
}

.customCountdown {
	width: 735px;
}

.profileAreaLeft {
	position:absolute;
	width: 100px;
}

#profilePhoto1 {
	margin-top: 50px;
	margin-right: 100px;
	width: 100%;
	height: auto;
}