<script>
/* Usage
   updateQuestionAnswer
   - question parameter: unknown...
   - answer parameter: array of answers (4)
   - imgsrc: link to image
   - Call to update the question
   
   updateTimer
   - playerA: playerA's current score
   - playerB: playerB's current score
   - Call to update the score
   
   roundOver()
   - call when the game is over
*/
function updateQuestionAnswer(question, answer, imgsrc){
	$('#question').attr('src', imgsrc);
	$('#answerA').html(answer[0]);
	$('#answerB').html(answer[1]);
	$('#answerC').html(answer[2]);
	$('#answerD').html(answer[3]);
}

function updateTimer(playerA, playerB){
	$('#score_a').attr('aria-valuetransitiongoal',playerA);
	$('#score_b').attr('aria-valuetransitiongoal',playerB);
	$('.progress-bar').progressbar();
	/*
	$('#timer_a').attr('style','height:' + playerA + '%');
	$('#timer_b').attr('style','height:' + playerB + '%'); */
}

function gameOver () {
	var a = document.getElementById('score_a').getAttribute('aria-valuetransitiongoal');
	var b = document.getElementById('score_b').getAttribute('aria-valuetransitiongoal');
	window.open ('results.html?a=' + a + '&b=' + b, '_self');
}
</script>
<div class="container">
	<div class="tHeader" style="padding-left: 240px; font-size: 70px;">SpaceQ</div>
	<div class="main_game">
		<div class="left">
			<div class="timer">
				<!--<div id="timer_a"></div>-->
				<div class="progress progress-striped vertical bottom wide active">
					<div id="score_a" class="progress-bar" role="progressbar" aria-valuetransitiongoal="0">
					</div>
				</div>
			</div>
			<div class="player_container">
				<div class="player_name">PlAAAayer1</div>
			</div>
		</div>

		<div class="middle">
			<div class="question"><img id="question" src="http://sierrafire.cr.usgs.gov/images/loading.gif"/></div>

			<br>
			<div class="answer_container">
				<div class="answer_row">
					<!--<div class="answer_col">-->
					<!--<div id="answerA" class="answer">ASfdsfdsfsdfsd</div>-->
					
					<button id="ansA" type="button" class="btn btn-success btn-xl btn-block"><div id="answerA">value</div></button>
					<button id="ansB" type="button" class="btn btn-warning btn-xl btn-block"><div id="answerB">value</div></button>
					<button id="ansC" type="button" class="btn btn-danger btn-xl btn-block"><div id="answerC">value</div></button>
					<button id="ansD" type="button" class="btn btn-info btn-xl btn-block"><div id="answerD">value</div></button>
				</div>
			</div>

		</div>

		<div class="right">
			<div class="timer">
				<div class="progress progress-striped vertical bottom wide active">
					<div id="score_b" class="progress-bar progress-bar-danger" role="progressbar" aria-valuetransitiongoal="0">
					</div>
				</div>
			</div>


			<div class="player_container">
				<div class="player_name">Player2</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.progress-bar').progressbar();
	$('#ansA').on('click', function(event){
		
	});
	
	$('#ansB').click(function(){
		
	});

	$('#ansC').click(function(){
		
	});

	$('#ansD').click(function(){
		
	});
</script>