<div class="container">
	<div class="heading">
		<h1 class="title">SpaceQ</h1>
	</div>
	<div class="main_game">
		<div class="left">
			<div class="timer">
				<div id="timer_a"></div>
			</div>
			<div class="player_container">
				<div class="player_name">Player1</div>
			</div>
		</div>

		<div class="middle">
			<div class="question"><img id="question" src="http://eoimages.gsfc.nasa.gov/images/imagerecords/83000/83491/mississippi_tmo_2014100.jpg"/></div>

			<div class="answer_container">
				<div class="answer_row">
					<div id="answerA" class="answer">
						<button>
							ASfdsfdsfsdfsd
						</button>
					</div>
					<div id="answerB" class="answer">Bdsfdsfsdfsd</div>
				</div>
				<div class="answer_row">
					<div id="answerC" class="answer">ASfdsfdsfsdfsd</div>
					<div id="answerD" class="answer">Bdsfdsfsdfsd</div>
				</div>
			</div>

		</div>

		<div class="right">
			<div class="timer">
				<div id="timer_b"></div>
			</div>


			<div class="player_container">
				<div class="player_name">Player2</div>
			</div>
		</div>
	</div>
</div>
