 <script>
window.fbAsyncInit = function() {
	FB.init({
		appId      : '1413205215609148',
		status     : true, // check login status
		cookie     : true, // enable cookies to allow the server to access the session
		xfbml      : true  // parse XFBML
	});
};

	// Load the SDK asynchronously
	(function(d){
	var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "//connect.facebook.net/en_US/all.js";
	ref.parentNode.insertBefore(js, ref);
	}(document));
</script>

<div id="SignInController" class="container">
	<div class="tHeader" style="padding-left: 240px; font-size: 70px;">SpaceQ</div>
	<div id="signin" class="main_game">
		<div class="left"></div>
		<style type="text/css">
		@-moz-document url-prefix() {
			.middle {
				position:relative;
			}
		}
		</style>
		<div class="middle">
			<div class="question"><img style="height:700px" id="question" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/International_Space_Station_after_undocking_of_STS-132.jpg/800px-International_Space_Station_after_undocking_of_STS-132.jpg"/>
				<div id="loginbutton"><button ng-click="login_fb()" type="button" class="btn btn-info btn-xl btn-block">Login with Facebook</button></div>
				<button id="ansB" type="button" class="btn btn-danger btn-xl btn-block"><div id="answerB">Login with Google+</div></button>
			</div>
		</div>
		<div class="right"></div>
	</div>
</div>

