<script>
function updateQuestionAnswer(question, answer){
	$('#question').attr('src', 'http://eoimages.gsfc.nasa.gov/images/imagerecords/83000/83491/mississippi_tmo_2014100.jpg');
	$('#answerA').html(answer[0]);
	$('#answerB').html(answer[1]);
	$('#answerC').html(answer[2]);
	$('#answerD').html(answer[3]);
}

function updateTimer(playerA, playerB){
	$('#timer_a').attr('height',playerA + '%');
	$('#timer_b').attr('height',playerB + '%');
}

$('#answerA').click(function(){

});

$('#answerB').click(function(){
	
});

$('#answerC').click(function(){
	
});

$('#answerD').click(function(){
	
});

//updateQuestionAnswer('http://eoimages.gsfc.nasa.gov/images/imagerecords/83000/83491/mississippi_tmo_2014100.jpg', ['a','b','c','d']);

</script>
</head>
<body>
	<div data-ng-view=""></div>
</body>
</html>