<!DOCTYPE html>
<html ng-app="gameApp" ng-controller="MainController">
<head>
  <title>Space Apps 2014 - WHERE ON EARTH</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/game.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <script src="/js/controller.js" type="text/javascript"></script>
  <script src="/js/controller/LoadController.js" type="text/javascript"></script>
  <script src="/js/controller/LobbyController.js" type="text/javascript"></script>
  <script src="/js/controller/MainController.js" type="text/javascript"></script>
  <script src="/js/controller/MainController.js" type="text/javascript"></script>
  <script src="/js/controller/MessageController.js" type="text/javascript"></script>
  <script src="/js/controller/RoundController.js" type="text/javascript"></script>
  <script src="/js/controller/SignInController.js" type="text/javascript"></script>
  <script src="/js/service/main.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css">
  <link ng-href="{{css}}" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" href="/css/bootstrap-progressbar-3.1.1.css">
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap-progressbar.js"></script>
</head>
<body>
  <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
        	appId      : '1413205215609148',
        	status     : true, // check login status
        	cookie     : true, // enable cookies to allow the server to access the session
        	xfbml      : true  // parse XFBML
        });


        userloggedin('ID'+Math.random(), 'U'+Math.random(), 'N'+Math.random());
        FB.Event.subscribe('auth.authResponseChange', function(response) {
      	  if (response.status === 'connected') {
           	FB.api('/me', function(response) {
                // userloggedin('ID'+Math.random(), 'U'+Math.random(), 'N'+Math.random());
                // userloggedin(response.id, response.username, response.first_name);
           	});
          } else if (response.status === 'not_authorized') {
          	FB.login();
          } else {
          	FB.login();
          }
        });
      };

      // Load the SDK asynchronously
      (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>

  <div ng-app="gameApp" class="container">
    <div ui-view></div>
  </div>
</body>
</html>