html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}



body {
  margin: 80px 0; }


input {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-weight: bold;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type="text"], input[type="email"] {
    cursor: auto;
    background: #fcfbf9;
    font-weight: normal;
    color: #776e65;
    padding: 0 15px; }
    input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
      color: #9d948c; }
    input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
      color: #9d948c; }
    input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
      color: #9d948c; }
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  height: 200px;
  display: block;
  float: left; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  margin: 0 auto; }

.left, .right{
	width:75px;
	height:400px;
	position:relative;
}
.timer{
	height: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom:20;
    margin: 0 auto;
    width:20%;

}

#timer_a{
	background:#3366FF;
	height:100%;

}

#timer_b{
	background:#00CC00;
	height:100%;
}

.left{
  width:10%;
}
.middle{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  position:absolute;
}
.right{
  width:10%;
}


.main_game{
  display: table;
	width:800px;
	height:800px;
}

.player_name{
	font-family:"Times New Roman", Times, serif;
	font-size: 12px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:absolute;
	bottom:0;
}

.left, .middle, .right{
  display: table-cell;
}

.answer_container{
  width:200px;
  height:300px;
  margin-top: 30px;
  margin-left: 30px;
}

.answer_row{
  display: table;
  width:200px;
}

.answer{
     display: table-cell;
    width: 50%;
    
    padding: 1em;
    border: solid;
}

.question, #question{
  width:500px;
  height:500px;
  margin-left: 20px;
  margin-top: 5px;
}